@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Montserrat:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.navbar{
    background-image: linear-gradient(to left, #30cfd0 0%, #330867 100%);
    justify-content: space-between;
    font-size: 25px;
}

.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen{
    width: 300px;
    height: auto;
    margin-left: 30px;
    border-radius: 15px;
}

.about{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.about img{
    width: 50%;
    grid-column: 1/5;
    border-radius: 15px;
    margin-right: 30px;

}

.about-info{
    grid-column: 5/10;
    padding: 2em;
}

.about-info h2{
    font-size: 2em;
   color: #191c32;
   max-width: 280px;
}

.about-info h6{
    text-align: center;
}
.about-info p{
    text-align: justify;
}
.divider{
    height: 4px;
    width: 60px;
    background-color: aqua;
    margin-top: 10px;
    margin-bottom: 1.5em;
}

/*-------------------*/
#fondo {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, #30cfd0 38%, #4c12de 68%);
    animation: gradient 5s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
        color: white;
    }
    50% {
        background-position: 100% 100%;
        color: black;
    }
    100% {
        background-position: 0% 0%;
        color: white;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}

/*-----------ANIMACIONES DE PALABRAS---------------------*/
.jello-vertical{animation:jello-vertical 1s linear both} @keyframes jello-vertical{0%{transform:scale3d(1,1,1)}30%{transform:scale3d(.75,1.25,1)}40%{transform:scale3d(1.25,.75,1)}50%{transform:scale3d(.85,1.15,1)}65%{transform:scale3d(1.05,.95,1)}75%{transform:scale3d(.95,1.05,1)}100%{transform:scale3d(1,1,1)}}

.scale-up-bottom-right{animation:scale-up-bottom-right 1s; } @keyframes scale-up-bottom-right{0%{transform:scale(.5);transform-origin:right bottom}100%{transform:scale(1);transform-origin:right bottom}}

.tracking-in-expand-forward-top{animation:tracking-in-expand-forward-top 0.7s linear both} @keyframes tracking-in-expand-forward-top{0%{letter-spacing:-.2em;transform:translateZ(-700px) translateY(-100px);opacity:0}40%{opacity:.6}100%{transform:translateZ(0) translateY(0);opacity:1}}

.blur-in{animation:blur-in 1s linear both} @keyframes blur-in{0%{filter:blur(12px);opacity:0}100%{filter:blur(0);opacity:1}}

@media (min-width:280px) and (max-width: 653px){
    .about-info .jello-vertical{
        font-size: 24px;
    }
    .about-info p{
        font-size: 16px;
        text-align: justify;
    }
    .about-info h1{
        font-size: 25px;
    }
    .about-info h4{
        font-size: 15px;
    }
    .about-info h6{
        font-size: 10px;
    }
}